/*GALERÃA DE IMAGENES Y TITULO*/
h1 {
    font-size:2rem ;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    padding: 2%;
    font-family: 'Mate SC', serif;
    width: 100%;
}

body {
    background-color: peachpuff;
}

#Portfolio-slider {
    font-family: 'Fjalla One', sans-serif;
    margin: auto;
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

#Portfolio-slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#Portfolio-slider>ul.slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
}

#Portfolio-slider>ul.slider h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#Portfolio-slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

#Portfolio-slider>ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit:scale-down;
}

#Portfolio-slider>ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

#Portfolio-slider>ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

#Portfolio-slider>.menu {
    text-align: center;
    margin: 20px;
}

#Portfolio-slider>.menu li {
    display: inline-block;
    text-align: center;
}

#Portfolio-slider>.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

/*BOTON*/

div.boton{
    width: 200px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
}

button{
    font-family: 'Kanit', sans-serif;
   margin-top: 0px;
   padding: 10px;
   background-color: pink;
   border-color:  #BBA1C4;
   font-size: 15px;
   font-weight: bold;
   align-items: center;
   width: 100%;
   
}
}